
@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
*{
    font-family: "PyeongChangPeace-Light";
    background-color: #FFFFFF ;

}


mark{
    display: inline-block;
    line-height: 0;
    padding-bottom: 20px;
    background-color: #FFB8B9;
    font-weight: bold;
    font-size: 30px;
}
.bold{
    font-weight: bold;
    font-size: 60px;
}
.keyword{
    color: #565656;
    font-weight: bold;
}
#set{
    background: #FFFFFF;
    font-size: 1.5rem; 
    line-height: 160% !important;
    text-align: center;
    padding-top : 110px;
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 5%;
    padding-left: 5%;
}

.explain{
    margin-right: 30% !important;
    margin-left: 30% !important;
    margin-bottom: 1%;
    border: 1px dotted;
    border-radius: 5px;
    padding: 30px;
    font-size: 26px;
    
}

.rtest {
    margin : 0;
    font-family: 'PyeongChangPeace-Light';
}

.title {
    margin : 0;
    font-family: 'PyeongChangPeace-Light';
    color : #383432;
}

.result {
    font-size: 30px;
    line-height: 120%;
    color: #383432;
    font-family: 'PyeongChangPeace-Light';
    padding-top: 10px;
    line-height: 1;
}

.resultimg {
    width : 25rem;
    height : 25rem;
    object-fit : cover;
}

.button1 {
    width : 30rem;
    line-height: 50px;
    background-color: #ffffff;
    border : 2px solid#FFB8B9;
    border-radius: 25px;
    margin: 0 auto 15px auto;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
}

.button1:hover {
    transition : all 0.1s ease;
    background-color: #FFB8B9;
    color : white;
}

.button1.checked{
    color : #ffffff;
    background: #FF8082;
    border: 2px solid #FF8082;
}

.button1:disabled{
    color : #383432;
}

.button1.checked:disabled{
    color : #ffffff;
}
